<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branching demo</title>
    <link href="assets/css/loader.css" rel="stylesheet">
</head>
<body>
    <div id="loader" class="lds-ring"><div></div><div></div><div></div><div></div></div>
    <div id="app" class="container" cloak>
        <div id="header" class="top-banner full-width contentCenter">
            <h1 class="display-1">{{title}}</h1>
            <h2 v-if="subtitle" class="small">{{subtitle}}</h2><br>
            <img src="assets/img/fullScreen.jpg" onclick="app.toggleFullScreen()" id="btn-fullScreen">
        </div>
        <div id="main" class="row">
            <div class="col-md-8">
                <div class="card" >
                    <div class="card-header">
                        <h2>{{nodes[node].title}}</h2>
                    </div>

                    <!-- contents -->
                    <transition name="fade"> <!-- fade in/out during transition from one node to the next -->
                        <div v-if="!transitionActive" class="card-body card-content">
                            <div v-for="(content, index) in nodes[node].contents">
                                <transition name="fade"> <!-- fade in/out for individual contents appearing/disappearing -->
                                    <span v-if="content.visible">
                                        <component_selector :content="content"></component_selector>
                                    </span>
                                </transition>
                            </div>
                        </div>
                    </transition>
                    <div class="card-footer contentCenter">
                        <!-- options -->
                        <transition name="fade"> <!-- fade in/out during transition from one node to the next -->
                            <div v-if="nodes[node].options && !transitionActive">
                                <span v-for="(option, index) in nodes[node].options">
                                    <transition name="fade"> <!-- fade in/out for individual options appearing/disappearing -->
                                        <button v-if="option.visible" @click=fn.nodes.options.select(index) class="btn m-2" :class="option.class" :disabled="option.disabled">{{option.title}}</button>
                                    </transition>
                                </span>
                            </div>
                        </transition>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h2>Case notes</h2>
                    </div>
                    <div class="card-body card-content scroll">
                        <div v-for="element in scenario.notes.slice().reverse()">
                            <div v-if="element.contents">

                                <div class='card'>
                                    <div class='card-header'>
                                        <h5>
                                            <button type='button' data-bs-toggle='collapse' :data-bs-target="'#notes-step-'+element.step" class='btn btn-outline-secondary'>+/-</button>
                                            &nbsp;{{element.title}}:
                                        </h5>
                                    </div>
                                    <div :id="'notes-step-'+element.step" class='collapse show'>
                                        <div class='card-body' v-html="element.contents"></div>
                                        <div class='card-footer log-options'>You selected:&nbsp;<strong>{{element.option}}</strong></div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <i>As you progress through this scenario significant information will be recorded here for you to refer back to. Scroll down to view older entries.</i>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div v-if="config.development.developerPanelVisible">
            <hr>
            <h3>Developer Panel</h3>
            Current score: <span class="badge bg-secondary">{{scenario.score.achieved}} / {{scenario.score.possible}}</span> Current node: <span class="badge bg-secondary">{{node}}</span> <button @click=fn.nodes.options.select(99) class="btn btn-sm m-2 btn-warning" >Skip to next node</button><br>
            <br>
            <div class="card">
                <div class="card-header">
                    <h4>Scenario Summary:</h4>
                </div>
                <div class="card-body">
                    <div v-for="element in scenario.log">
                        <div class='card'>
                            <div class='card-header'>
                                <h5>
                                    <button type='button' data-bs-toggle='collapse' :data-bs-target="'#log-step-'+element.step" class='btn btn-outline-secondary'>+/-</button>
                                    &nbsp;{{element.title}} [{{element.node}}]:
                                </h5>
                            </div>
                            <div :id="'log-step-'+element.step" class='collapse show'>
                                <div class='card-body' v-html="element.contents"></div>
                                <div class='card-footer log-options' v-html="element.options"></div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div> <!-- end of app -->
    
    <!-- Bootstrap 5 - Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap 5 - Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- vue 3 -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- sweet alert 2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- my scripts -->
    <script src="scenario/example.js"></script>
    <script src="assets/js/myApp.js"></script>
    <script src="assets/js/components/text-components.js"></script>
    <script src="assets/js/components/media-components.js"></script>
    <script src="assets/js/components/layout-components.js"></script>
    <script src="assets/js/components/input-components.js"></script>
    <script src="assets/js/components/component-selector.js"></script>
    <script src="assets/js/main.js"></script>

    <link href="assets/css/style.css" rel="stylesheet">
</body>
</html>