<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branching demo</title>
</head>
<body>
    <div id="app" class="container">
        <div class="top-banner full-width content-center">
            <h1 class="display-1">{{title}}</h1>
            <h2 class="small">{{subtitle}}</h2><br>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h2>{{nodes[node].heading}}</h2>
                    </div>

                    <!-- contents -->
                    <div class="card-body card-content">
                        <div v-for="(content, index) in nodes[node].contents">
                        
                            <!--text-->
                            <div v-if="content.type == 'text'">
                                <p>{{content.text}}</p>
                            </div>

                            <!--img-->
                            <div v-else-if="content.type == 'img'" class="content-center">
                                <img class="content-img" :src="'img/' + content.src" :alt="content.alt">
                                <a :href="content.caption.link" target="_blank" rel="noopener noreferrer" class="small"><figcaption>{{content.caption.text}}</figcaption></a>
                            </div>

                            <!--input-->
                            <div v-if="content.type == 'input'">
                                
                                <!--textarea-->
                                <div v-if="content.inputType == 'textarea'">
                                    <label for="input-textarea">{{content.label}}</label>
                                    <textarea id="input-textarea" v-model="content.userEntry" class="form-control"></textarea><br>
                                    <div class="full-width content-center"><button @click=fn.nodes.contents.inputs.textarea.submit(index) class="btn m-2 btn-primary">Submit</button></div><br>
                                </div>

                                <!--checkbox-->
                                <div v-if="content.inputType == 'checkbox'">
                                    <label for="input-checkboxes">{{content.label}}</label>
                                    <div id="checkboxes">
                                        <div v-for="checkbox in content.checkboxes" class="form-check">
                                            <input class="form-check-input" type="checkbox" v-model="checkbox.checked" :disabled="content.disabled">
                                            <label class="form-check-label">{{checkbox.label}}</label>
                                        </div>
                                    </div>
                                    <div class="full-width content-center"><button @click=fn.nodes.contents.inputs.checkbox.submit(index) class="btn m-2 btn-primary" :disabled="content.disabled">Submit</button></div><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer content-center">
                        <!-- options -->
                        <div v-if="nodes[node].options || nodes[node].input">
                            <span v-for="(option, index) in nodes[node].options">
                                <button v-if="option.visible" @click=clickOption(index) class="btn m-2" :class="option.class" :disabled="option.disabled">{{option.title}}</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h2>Scenario notes</h2>
                    </div>
                    <div class="card-body card-content scroll">
                        <div v-for="element in scenario.log.slice().reverse()">
                            <div v-if="element.notes">
                                <strong>{{nodes[element.node].heading}}: </strong>
                                <span v-html="element.notes"></span>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <i>As you progress through this scenario significant information will be recorded here for you to refer back to. Scroll down to view older entries.</i>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <hr>
        <h3>Developer Panel</h3>
        Current score: <span class="badge bg-secondary">{{scenario.score.achieved}} / {{scenario.score.possible}}</span> Current node: <span class="badge bg-secondary">{{node}}</span> <button @click=node++ class="btn btn-sm m-2 btn-warning" >Go to next node</button> <button @click=testFn class="btn btn-sm m-2 btn-warning" >testFn</button><br>
        <br>
        <div class="card">
            <div class="card-header">
                <h4>Scenario Summary:</h4>
            </div>
            <div class="card-body">
                <div v-for="element in scenario.log">
                    <h5>{{nodes[element.node].heading}} [{{element.node}}]: </h5>
                    <span v-if="element.decisions"><strong>Decisions: </strong><span v-html="element.decisions"></span><br></span>
                    <span v-if="element.notes"><strong>Notes: </strong><span v-html="element.notes"></span><br></span>
                    <span v-if="element.feedback"><strong>Feedback: </strong><span v-html="element.feedback"></span><br></span>
                    <span v-if="element.score"><strong>Score: </strong>{{element.score.achieved}} / {{element.score.possible}}<br></span>
                    <hr>
                </div>
            </div>
        </div>
    </div> <!-- end of app -->

    <!-- development version, includes helpful console warnings -->
    <!-- Bootstrap 5 - Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap 5 - Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- sweet alert 2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- my scripts -->
    <script src="js/nodes.js"></script>
    <script src="js/app.js"></script>
    <link href="style.css" rel="stylesheet">
</body>
</html>